/Inicio/nbproject/private/
/Sesion2/nbproject/private/
/Sesion1/nbproject/private/
/Sesion6/nbproject/private/
Tareas/
/Sesion6/build/
/Sesion6/dist/
/Sesion7/nbproject/private/
/Sesion7/build/
/Sesion7/dist/
/Sesion8/nbproject/private/
/Sesion8/build/
/Sesion8/dist/
/Examen_temas_1/nbproject/private/
/Examen_temas_1/build/
/Examen_temas_1/dist/
/Vectores/build/
/Vectores/dist/
/Vectores/nbproject/private/
